/* Tipos de documentos incrustados */
/*-----------------------------------------------------------------------------*/
.embed-documento {background-color:#4285f4;}
.embed-presentacion {background-color: #f4b400;}
.embed-hoja-calculo {background-color: #0f9d58;}
.embed-video {background-color: #fe0303;}

/* Emociones */
/*-----------------------------------------------------------------------------*/

.emocion-1 { background-color: #99D96C;}
.emocion-2 { background-color: #FFBC69;}
.emocion-3 { background-color: #C5ADED;}
.emocion-4 { background-color: #FCD22A;}
.emocion-5 { background-color: #9ED0FF;}
.emocion-6 { background-color: #FFAFAB;}
.emocion-7 { background-color: #FF94D6;}
.emocion-8 { background-color: #EDEDED;}