/*
Estilos para herramientas administrador y front grafinar
2021-08-05
-----------------------------------------------------------------------------
*/

/* colores */
/*-----------------------------------------------------------------------------*/
.color-text-1{ color: #008FA6;}
.color-text-2{ color: #80BA26;}
.color-text-3{ color: #888f00;}
.color-text-4{ color: #462B72;}
.color-text-5{ color: #E33939;}
.color-text-6{ color: #ff6a00;}
.color-text-7{ color: #ed1798;}

.label-cat-1000{
    background-color: blue;
    color: white;
}

/* Emociones */
/*-----------------------------------------------------------------------------*/

.emocion-1 { background-color: #99D96C;}
.emocion-2 { background-color: #FFBC69;}
.emocion-3 { background-color: #C5ADED;}
.emocion-4 { background-color: #FCD22A;}
.emocion-5 { background-color: #9ED0FF;}
.emocion-6 { background-color: #FFAFAB;}
.emocion-7 { background-color: #FF94D6;}
.emocion-8 { background-color: #EDEDED;}



/* RESPONDER ESCENA */
/*-----------------------------------------------------------------------------*/
.escena-grid {
    display: grid;
    grid-template-columns: 802px 1fr;
    gap: 0.5rem;
}

#escena-image{
    width: 800px;
    height: 653px;
    position: relative;
    border: 1px solid #ced4da;
    border-radius: 3px;
    cursor: pointer;
}

#escena-image .marker{
    display: flex;
    font-size: 0.8em;
    position: absolute;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.1);
}

#escena-image .marker .active{
    border: 1px solid #00BEE0;
}

#escena-image .num-marker{
    width: 2em;
    background-color: #FFF3cd;
    color: #000;
    text-align: center;
}

#escena-image .marker.active .num-marker{
    background-color: #80BA26;
    color: #FFF;
}

#escena-image .marker .emocion-marker{
    text-align: center;
    padding-right: 0.3em;
    padding-left: 0.3em;
}

.emocion-select{
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    padding: 3px;
    width: 100%;
}